In [19]:
import os
import csv
import pandas as pd
from scipy.stats import stats

In [27]:
honey_population_df = pd.read_csv('Buzz/bee_pop_clean.csv')
honey_price_df = pd.read_csv('Buzz/Honey_price.csv')
merged_df = pd.merge(honey_population_df, honey_price_df, on =['State','Year'])
merged_df.head()

   Year       State Population       Value
0  2018     ALABAMA      6,000     964,000
1  2018     ARIZONA     24,000   2,572,000
2  2018    ARKANSAS     28,000   2,618,000
3  2018  CALIFORNIA    335,000  28,294,000
4  2018    COLORADO     31,000   3,006,000

In [28]:
merged_df.reset_index(drop=True)
merged_df
merged_df.to_csv('Honey_price_population.csv', index = False)