In [8]:
import os
import csv
import pandas as pd
input_file_price = "honey_price.csv"
input_raw_df = pd.read_csv(input_file_price)
input_raw_df.head()

   Year       State       Value
0  2018     ALABAMA     964,000
1  2018     ARIZONA   2,572,000
2  2018    ARKANSAS   2,618,000
3  2018  CALIFORNIA  28,294,000
4  2018    COLORADO   3,006,000

In [ ]:
clean_df_2014 = input_df_2014[["County","Year","Mortality"]]

In [9]:
# Convert a year into list
all_columns = list(input_raw_df.columns)
all_columns = all_columns[1:]
all_columns

['State', 'Value']

In [13]:
# rename the column
input_raw_df_renamed = input_raw_df.rename(columns={"Value": "Honey_price"})
input_raw_df_renamed.head()

   Year       State Honey_price
0  2018     ALABAMA     964,000
1  2018     ARIZONA   2,572,000
2  2018    ARKANSAS   2,618,000
3  2018  CALIFORNIA  28,294,000
4  2018    COLORADO   3,006,000

In [14]:
input_raw_df_renamed.count()

Year           1396
State          1396
Honey_price    1396
dtype: int64